@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



*{
    margin: 0;
    
}

#Cart{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 55vh;
}
#tittle {
    margin-top: 3vw;
    padding-left: 7vw;
    display: flex;
    align-items: center;  
    font-family: inter;
    font-weight: bold;
    font-size: 24px;
    color: #474747;
}
#container {
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin-bottom: 3vh;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: row;
    width: 28vw;
    height: 35vh;
    background-color: #d8e3f2;
    border-radius: 12px;
    border: none;
    margin-top: 1vh;
}

.card img {
    width: 28vw;
}

.cardText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: inter;
    font-weight: bold;
    width: 179px;
    height: 72;
    position: relative;
    padding-left: 2vw;
}

.cardText p {
    padding: 0.5vh 1vw;
    background-color: #e7ff87;
    border-radius: 1vw;
    font-size: 14px;
    color: #474747;
    margin: 1vw;
}

.cardText h1 {
    font-size: 28px;
    font-weight: 900;
    padding-bottom: 1vw;
    text-align: justify;
}
.cardText button{
    padding: 0.8vw;
    border-radius: 10px;
    width: 153px;
    height: 48px;
    border: none;
    color: #c92072;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 1vw;
    margin-left: 1vw;
}