*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#create-account-header{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    padding-left: 4vw;
    
}   

#create-account-header img{
    width: 15vw;
}