#productHeightHeader{
    display: flex;
    justify-content: space-evenly;
}
#productHeight{
    margin-top: 3vw;
    padding-left: 7vw;
    width: 50vw;
    display: flex;
    align-items: center;  
    font-family: inter;
    font-weight: bold;
    font-size: 24px;
    color: #474747;
}
#seeMoreHeight{
    margin-top: 3vw;
    padding-right: 5vw;
    width: 50vw;
    display: flex;
    align-items: center;  
    justify-content: flex-end;
    font-family: inter;
    font-weight: 600;
    font-size: 18px;
    color: #c92071;
}
